version: '3.8'

services:
  daemon-defense:
    build: ./daemon
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.yml:/app/config.yml
      - ./alerts:/app/alerts
    environment:
      - ALERTS_FILE=/app/alerts/alerts.jsonl
    networks:
      - defense_container
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request,sys; sys.exit(0) if urllib.request.urlopen('http://127.0.0.1:8080/health', timeout=2).getcode()==200 else sys.exit(1)"]
      interval: 120s    # should be 5s when work is finalizing
      timeout: 3s
      retries: 10
      start_period: 10s
  falco:
    image: falcosecurity/falco:latest
    privileged: true
    # Falco needs access to host resources for syscall monitoring
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro   #ensure Falco sees Docker API here
      - /dev:/host/dev
      - /proc:/host/proc:ro
      - /boot:/host/boot:ro
      - /lib/modules:/host/lib/modules:ro
      - /usr:/host/usr:ro
      - /etc:/host/etc:ro
      - /var/log/falco_events.log:/var/log/falco_events.log
      # - ./falco_rules:/etc/falco/rules.d         # (optional: your custom rules dir)
      # - ./falco.yaml:/etc/falco/falco.yaml       # (optional: full config override)
    environment:
      - FALCO_JSON_OUTPUT=true
    command: >
      falco
      -o json_output=true
      -o http_output.enabled=true
      -o http_output.url=http://daemon-defense:8080/api/falco-alert
    depends_on:
      daemon-defense:
        condition: service_healthy
    networks:
      - defense_container

networks:
  defense_container:
    driver: bridge
  